<a href="https://colab.research.google.com/github/lfaillace/cartola-datascience/blob/master/Cartola_DataScience_Importando_dados_das_API.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1 style='color: green; font-size: 36px; font-weight: bold;'>Importando dados das API's do Cartola</h1>

O objetivo deste código é extrair os dados das API's que o Cartola disponibiliza, bem como organizar e transformar os dados para que possamos utilizarmos posteriormente em outras análises.

# <font color='red' style='font-size: 30px;'>1. Acessando as API's </font>
<hr style='border: 2px solid red;'>

## 1.1 Importando Clubes

O primeiro passo é importar as bibliotecas que usaremos ao longo do código. São elas:
- Pandas
- Requests

In [0]:
import pandas as pd
import requests

O método **requests.get( )** recebe como parâmetro a URL da API que desejamos acessar, retornando um objeto tipo **Response** (comumente atribuído a uma variável *r*).

In [0]:
r = requests.get('https://api.cartolafc.globo.com/clubes')
type(r)

requests.models.Response

O conteúdo do tabela está no formato **JSON**. A própria biblioteca **requests** oferece um método para decodificar conteúdos no formato JSON, convertendo-o em um dicionário.

In [0]:
clubes_dict = r.json()
type(clubes_dict)

dict

Com o conteúdo convertido em dicionário, podemos criar um DataFrame para visualisarmos e manipularmos melhor os dados.

In [0]:
clubes_df = pd.DataFrame(clubes_dict)
clubes_df

                                                     1  ...                                      388
abreviacao                                         OUT  ...                                      BRA
escudos        {'60x60': '', '45x45': '', '30x30': ''}  ...  {'60x60': '', '45x45': '', '30x30': ''}
id                                                   1  ...                                      388
nome                                            Outros  ...                              Brasiliense
nome_fantasia                                   Outros  ...                              Brasiliense
posicao                                            NaN  ...                                      NaN

[6 rows x 63 columns]

Opa! Tem algo errado aí!
Os campos estão aparecendo como índices e os id's dos times como colunas. Para consertar isso vamos utilizar o método **DataFrame.transpose()**

In [0]:
clubes_df = clubes_df.transpose()
clubes_df

     abreviacao  ... posicao
1           OUT  ...     NaN
1349        IPA  ...     NaN
1371        CUI  ...     NaN
1390        ICA  ...     NaN
2190        OES  ...     NaN
2193        DUQ  ...     NaN
2197        AME  ...     NaN
2554        PRU  ...     NaN
2565        LUV  ...     NaN
262         FLA  ...       5
263         BOT  ...       4
264         COR  ...       9
265         BAH  ...       6
266         FLU  ...      16
267         VAS  ...      18
275         PAL  ...       1
276         SAO  ...       8
277         SAN  ...       2
278         POR  ...     NaN
279         GUA  ...     NaN
280         BRA  ...     NaN
282         ATL  ...       3
283         CRU  ...      14
284         GRE  ...      13
285         INT  ...       7
286         JUV  ...     NaN
287         VIT  ...     NaN
288         CRI  ...     NaN
289         PAR  ...     NaN
290         GOI  ...      12
...         ...  ...     ...
294         COR  ...     NaN
296         BOT  ...     NaN
303         PON  ...     NaN
3057        BEC  ...     NaN
306         SAN  ...     NaN
307         SBE  ...     NaN
309         BRA  ...     NaN
314         AVA  ...      20
315         CHA  ...      15
316         FIG  ...     NaN
317         JEC  ...     NaN
319         LON  ...     NaN
321         OPE  ...     NaN
327         AME  ...     NaN
340         CRB  ...     NaN
341         CSA  ...      19
342         ASA  ...     NaN
343         NAU  ...     NaN
344         STC  ...     NaN
350         ABC  ...     NaN
351         AME  ...     NaN
354         CEA  ...      11
356         FOR  ...      17
362         MOT  ...     NaN
363         SAM  ...     NaN
364         REM  ...     NaN
373         ATL  ...     NaN
375         VIL  ...     NaN
386         SAO  ...     NaN
388         BRA  ...     NaN

[63 rows x 6 columns]

Agora sim! Repare que a tabela contem times de várias divisões, mas isso não é um problema por enquanto. Vamos salvar este arquivo no formato .csv para podermos utilizá-lo em outros notebooks.

In [0]:
clubes_df.to_csv('clubes.csv')

##1.2 Importando Partidas

Importaremos agora as partidas da próxima rodada (por padrão, quando digitamos apenas **/partidas**, são apresentadas as partidas da próxima rodada; para obter partidas de uma rodada **'x'** deve-se utilizar o endereço **/partidas/x**).

In [0]:
r = requests.get('https://api.cartolafc.globo.com/partidas')
partidas_dict = r.json()
partidas_dict

{'clubes': {'262': {'abreviacao': 'FLA',
   'escudos': {'30x30': 'https://s.glbimg.com/es/sde/f/equipes/2018/04/09/Flamengo-30.png',
    '45x45': 'https://s.glbimg.com/es/sde/f/equipes/2018/04/09/Flamengo-45.png',
    '60x60': 'https://s.glbimg.com/es/sde/f/equipes/2018/04/09/Flamengo-65.png'},
   'id': 262,
   'nome': 'Flamengo',
   'nome_fantasia': 'Flamengo',
   'posicao': 5},
  '263': {'abreviacao': 'BOT',
   'escudos': {'30x30': 'https://s.glbimg.com/es/sde/f/equipes/2013/12/16/botafogo_30x30.png',
    '45x45': 'https://s.glbimg.com/es/sde/f/equipes/2013/12/16/botafogo_45x45.png',
    '60x60': 'https://s.glbimg.com/es/sde/f/equipes/2014/04/14/botafogo_60x60.png'},
   'id': 263,
   'nome': 'Botafogo',
   'nome_fantasia': 'Botafogo',
   'posicao': 4},
  '264': {'abreviacao': 'COR',
   'escudos': {'30x30': 'https://s.glbimg.com/es/sde/f/equipes/2013/12/16/corinthians_30x30.png',
    '45x45': 'https://s.glbimg.com/es/sde/f/equipes/2013/12/16/corinthians_45x45.png',
    '60x60': 'https://s.glbimg.com/es/sde/f/equipes/2014/04/14/corinthians_60x60.png'},
   'id': 264,
   'nome': 'Corinthians',
   'nome_fantasia': 'Corinthians',
   'posicao': 9},
  '265': {'abreviacao': 'BAH',
   'escudos': {'30x30': 'https://s.glbimg.com/es/sde/f/equipes/2013/12/16/bahia_30x30.png',
    '45x45': 'https://s.glbimg.com/es/sde/f/equipes/2013/12/16/bahia_45x45.png',
    '60x60': 'https://s.glbimg.com/es/sde/f/equipes/2014/04/14/bahia_60x60.png'},
   'id': 265,
   'nome': 'Bahia',
   'nome_fantasia': 'Bahia',
   'posicao': 6},
  '266': {'abreviacao': 'FLU',
   'escudos': {'30x30': 'https://s.glbimg.com/es/sde/f/equipes/2015/07/21/Fluminense-escudo.png',
    '45x45': 'https://s.glbimg.com/es/sde/f/equipes/2015/07/21/fluminense_45x45.png',
    '60x60': 'https://s.glbimg.com/es/sde/f/equipes/2015/07/21/fluminense_60x60.png'},
   'id': 266,
   'nome': 'Fluminense',
   'nome_fantasia': 'Fluminense',
   'posicao': 16},
  '267': {'abreviacao': 'VAS',
   'escudos': {'30x30': 'https://s.glbimg.com/es/sde/f/equipes/2016/07/29/Vasco-30.png',
    '45x45': 'https://s.glbimg.com/es/sde/f/equipes/2016/07/29/Vasco-45.png',
    '60x60': 'https://s.glbimg.com/es/sde/f/equipes/2016/07/29/Vasco-65.png'},
   'id': 267,
   'nome': 'Vasco',
   'nome_fantasia': 'Vasco',
   'posicao': 18},
  '275': {'abreviacao': 'PAL',
   'escudos': {'30x30': 'https://s.glbimg.com/es/sde/f/equipes/2013/12/16/palmeiras_30x30.png',
    '45x45': 'https://s.glbimg.com/es/sde/f/equipes/2013/12/16/palmeiras_45x45.png',
    '60x60': 'https://s.glbimg.com/es/sde/f/equipes/2014/04/14/palmeiras_60x60.png'},
   'id': 275,
   'nome': 'Palmeiras',
   'nome_fantasia': 'Palmeiras',
   'posicao': 1},
  '276': {'abreviacao': 'SAO',
   'escudos': {'30x30': 'https://s.glbimg.com/es/sde/f/equipes/2013/12/16/sao_paulo_30x30.png',
    '45x45': 'https://s.glbimg.com/es/sde/f/equipes/2013/12/16/sao_paulo_45x45.png',
    '60x60': 'https://s.glbimg.com/es/sde/f/equipes/2014/04/14/sao_paulo_60x60.png'},
   'id': 276,
   'nome': 'São Paulo',
   'nome_fantasia': 'São Paulo',
   'posicao': 8},
  '277': {'abreviacao': 'SAN',
   'escudos': {'30x30': 'https://s.glbimg.com/es/sde/f/equipes/2013/12/16/santos_30x30.png',
    '45x45': 'https://s.glbimg.com/es/sde/f/equipes/2013/12/16/santos_45x45.png',
    '60x60': 'https://s.glbimg.com/es/sde/f/equipes/2014/04/14/santos_60x60.png'},
   'id': 277,
   'nome': 'Santos',
   'nome_fantasia': 'Santos',
   'posicao': 2},
  '282': {'abreviacao': 'ATL',
   'escudos': {'30x30': 'https://s.glbimg.com/es/sde/f/equipes/2017/11/23/Atletico-Mineiro-escudo30px.png',
    '45x45': 'https://s.glbimg.com/es/sde/f/equipes/2017/11/23/Atletico-Mineiro-escudo45px.png',
    '60x60': 'https://s.glbimg.com/es/sde/f/equipes/2017/11/23/Atletico-Mineiro-escudo65px.png'},
   'id': 282,
   'nome': 'Atlético-MG',
   'nome_fantasia': 'Atlético-MG',
   'posicao': 3},
  '283': {'abreviacao': 'CRU',
   'escudos': {'30x30': 'https://s.glbimg.com/es/sde/f/equipes/2015/04/29/cruzeiro_30.png',
    '45x45': 'https://s.glbimg.com/es/sde/f/equipes/2015/04/29/cruzeiro_45.png',
    '60x60': 'https://s.glbimg.com/es/sde/f/equipes/2015/04/29/cruzeiro_65.png'},
   'id': 283,
   'nome': 'Cruzeiro',
   'nome_fantasia': 'Cruzeiro',
   'posicao': 14},
  '284': {'abreviacao': 'GRE',
   'escudos': {'30x30': 'https://s.glbimg.com/es/sde/f/equipes/2013/12/16/gremio_30x30.png',
    '45x45': 'https://s.glbimg.com/es/sde/f/equipes/2013/12/16/gremio_45x45.png',
    '60x60': 'https://s.glbimg.com/es/sde/f/equipes/2014/04/14/gremio_60x60.png'},
   'id': 284,
   'nome': 'Grêmio',
   'nome_fantasia': 'Grêmio',
   'posicao': 13},
  '285': {'abreviacao': 'INT',
   'escudos': {'30x30': 'https://s.glbimg.com/es/sde/f/equipes/2016/05/03/inter30.png',
    '45x45': 'https://s.glbimg.com/es/sde/f/equipes/2016/05/03/inter45.png',
    '60x60': 'https://s.glbimg.com/es/sde/f/equipes/2016/05/03/inter65.png'},
   'id': 285,
   'nome': 'Internacional',
   'nome_fantasia': 'Internacional',
   'posicao': 7},
  '290': {'abreviacao': 'GOI',
   'escudos': {'30x30': 'https://s.glbimg.com/es/sde/f/organizacoes/2019/05/01/Goias_30px.png',
    '45x45': 'https://s.glbimg.com/es/sde/f/organizacoes/2019/05/01/Goias_45px.png',
    '60x60': 'https://s.glbimg.com/es/sde/f/organizacoes/2019/05/01/Goias_65px.png'},
   'id': 290,
   'nome': 'Goiás',
   'nome_fantasia': 'Goiás',
   'posicao': 12},
  '293': {'abreviacao': 'ATL',
   'escudos': {'30x30': 'https://s.glbimg.com/es/sde/f/organizacoes/2018/12/13/escudo30.png',
    '45x45': 'https://s.glbimg.com/es/sde/f/organizacoes/2018/12/13/escudo45.png',
    '60x60': 'https://s.glbimg.com/es/sde/f/organizacoes/2018/12/13/escudo65.png'},
   'id': 293,
   'nome': 'Athlético-PR',
   'nome_fantasia': 'Athlético-PR',
   'posicao': 10},
  '314': {'abreviacao': 'AVA',
   'escudos': {'30x30': 'https://s.glbimg.com/es/sde/f/organizacoes/2018/09/04/escudo-avai-30x30.png',
    '45x45': 'https://s.glbimg.com/es/sde/f/organizacoes/2018/09/04/escudo-avai-45x45.png',
    '60x60': 'https://s.glbimg.com/es/sde/f/organizacoes/2018/09/04/escudo-avai-65x65.png'},
   'id': 314,
   'nome': 'Avaí',
   'nome_fantasia': 'Avaí',
   'posicao': 20},
  '315': {'abreviacao': 'CHA',
   'escudos': {'30x30': 'https://s.glbimg.com/es/sde/f/equipes/2015/08/03/Escudo-Chape-130.png',
    '45x45': 'https://s.glbimg.com/es/sde/f/equipes/2015/08/03/Escudo-Chape-145.png',
    '60x60': 'https://s.glbimg.com/es/sde/f/equipes/2015/08/03/Escudo-Chape-165.png'},
   'id': 315,
   'nome': 'Chapecoense',
   'nome_fantasia': 'Chapecoense',
   'posicao': 15},
  '341': {'abreviacao': 'CSA',
   'escudos': {'30x30': 'https://s.glbimg.com/es/sde/f/equipes/2013/09/18/CSA_30.png',
    '45x45': 'https://s.glbimg.com/es/sde/f/equipes/2013/09/18/CSA_45.png',
    '60x60': 'https://s.glbimg.com/es/sde/f/equipes/2013/09/18/CSA_65.png'},
   'id': 341,
   'nome': 'CSA',
   'nome_fantasia': 'CSA',
   'posicao': 19},
  '354': {'abreviacao': 'CEA',
   'escudos': {'30x30': 'https://s.glbimg.com/es/sde/f/equipes/2018/05/11/ceara-30x30.png',
    '45x45': 'https://s.glbimg.com/es/sde/f/equipes/2018/05/11/ceara-45x45.png',
    '60x60': 'https://s.glbimg.com/es/sde/f/equipes/2018/05/11/ceara-65x65.png'},
   'id': 354,
   'nome': 'Ceará',
   'nome_fantasia': 'Ceará',
   'posicao': 11},
  '356': {'abreviacao': 'FOR',
   'escudos': {'30x30': 'https://s.glbimg.com/es/sde/f/organizacoes/2018/06/10/fortaleza-ec-30px.png',
    '45x45': 'https://s.glbimg.com/es/sde/f/organizacoes/2018/06/10/fortaleza-ec-45px.png',
    '60x60': 'https://s.glbimg.com/es/sde/f/organizacoes/2018/06/10/fortaleza-ec-65px.png'},
   'id': 356,
   'nome': 'Fortaleza',
   'nome_fantasia': 'Fortaleza',
   'posicao': 17}},
 'partidas': [{'aproveitamento_mandante': ['d', 'v', 'd', 'v', 'v'],
   'aproveitamento_visitante': ['e', 'e', 'd', 'v', 'v'],
   'clube_casa_id': 284,
   'clube_casa_posicao': 11,
   'clube_visitante_id': 267,
   'clube_visitante_posicao': 15,
   'local': 'Arena do Grêmio',
   'partida_data': '2019-07-13 17:00:00',
   'partida_id': 232694,
   'placar_oficial_mandante': None,
   'placar_oficial_visitante': None,
   'transmissao': {'label': '', 'url': ''},
   'url_confronto': '',
   'url_transmissao': '',
   'valida': True},
  {'aproveitamento_mandante': ['d', 'd', 'e', 'e', 'd'],
   'aproveitamento_visitante': ['d', 'd', 'v', 'v', 'd'],
   'clube_casa_id': 283,
   'clube_casa_posicao': 18,
   'clube_visitante_id': 263,
   'clube_visitante_posicao': 7,
   'local': 'Mineirão',
   'partida_data': '2019-07-14 16:00:00',
   'partida_id': 232695,
   'placar_oficial_mandante': None,
   'placar_oficial_visitante': None,
   'transmissao': {'label': '', 'url': ''},
   'url_confronto': '',
   'url_transmissao': '',
   'valida': True},
  {'aproveitamento_mandante': ['v', 'e', 'd', 'd', 'v'],
   'aproveitamento_visitante': ['e', 'd', 'd', 'e', 'd'],
   'clube_casa_id': 356,
   'clube_casa_posicao': 14,
   'clube_visitante_id': 314,
   'clube_visitante_posicao': 20,
   'local': 'Castelão (CE)',
   'partida_data': '2019-07-13 21:00:00',
   'partida_id': 232696,
   'placar_oficial_mandante': None,
   'placar_oficial_visitante': None,
   'transmissao': {'label': '', 'url': ''},
   'url_confronto': '',
   'url_transmissao': '',
   'valida': True},
  {'aproveitamento_mandante': ['e', 'v', 'v', 'e', 'd'],
   'aproveitamento_visitante': ['d', 'v', 'd', 'd', 'd'],
   'clube_casa_id': 264,
   'clube_casa_posicao': 10,
   'clube_visitante_id': 341,
   'clube_visitante_posicao': 19,
   'local': 'Arena Corinthians',
   'partida_data': '2019-07-14 16:00:00',
   'partida_id': 232697,
   'placar_oficial_mandante': None,
   'placar_oficial_visitante': None,
   'transmissao': {'label': '', 'url': ''},
   'url_confronto': '',
   'url_transmissao': '',
   'valida': True},
  {'aproveitamento_mandante': ['e', 'd', 'e', 'e', 'e'],
   'aproveitamento_visitante': ['v', 'v', 'v', 'v', 'v'],
   'clube_casa_id': 276,
   'clube_casa_posicao': 9,
   'clube_visitante_id': 275,
   'clube_visitante_posicao': 1,
   'local': 'Morumbi',
   'partida_data': '2019-07-13 19:00:00',
   'partida_id': 232698,
   'placar_oficial_mandante': None,
   'placar_oficial_visitante': None,
   'transmissao': {'label': '', 'url': ''},
   'url_confronto': '',
   'url_transmissao': '',
   'valida': True},
  {'aproveitamento_mandante': ['d', 'v', 'v', 'e', 'v'],
   'aproveitamento_visitante': ['v', 'v', 'd', 'v', 'v'],
   'clube_casa_id': 262,
   'clube_casa_posicao': 3,
   'clube_visitante_id': 290,
   'clube_visitante_posicao': 6,
   'local': 'Maracanã',
   'partida_data': '2019-07-14 11:00:00',
   'partida_id': 232699,
   'placar_oficial_mandante': None,
   'placar_oficial_visitante': None,
   'transmissao': {'label': '', 'url': ''},
   'url_confronto': '',
   'url_transmissao': '',
   'valida': True},
  {'aproveitamento_mandante': ['v', 'd', 'd', 'e', 'e'],
   'aproveitamento_visitante': ['v', 'v', 'd', 'e', 'd'],
   'clube_casa_id': 266,
   'clube_casa_posicao': 16,
   'clube_visitante_id': 354,
   'clube_visitante_posicao': 13,
   'local': 'Maracanã',
   'partida_data': '2019-07-15 20:00:00',
   'partida_id': 232700,
   'placar_oficial_mandante': None,
   'placar_oficial_visitante': None,
   'transmissao': {'label': '', 'url': ''},
   'url_confronto': '',
   'url_transmissao': '',
   'valida': True},
  {'aproveitamento_mandante': ['d', 'v', 'd', 'd', 'e'],
   'aproveitamento_visitante': ['v', 'd', 'v', 'd', 'e'],
   'clube_casa_id': 315,
   'clube_casa_posicao': 17,
   'clube_visitante_id': 282,
   'clube_visitante_posicao': 5,
   'local': 'Arena Condá',
   'partida_data': '2019-07-14 19:00:00',
   'partida_id': 232701,
   'placar_oficial_mandante': None,
   'placar_oficial_visitante': None,
   'transmissao': {'label': '', 'url': ''},
   'url_confronto': '',
   'url_transmissao': '',
   'valida': True},
  {'aproveitamento_mandante': ['e', 'v', 'v', 'e', 'd'],
   'aproveitamento_visitante': ['d', 'e', 'v', 'v', 'v'],
   'clube_casa_id': 265,
   'clube_casa_posicao': 8,
   'clube_visitante_id': 277,
   'clube_visitante_posicao': 2,
   'local': 'Fonte Nova',
   'partida_data': '2019-07-13 19:00:00',
   'partida_id': 232702,
   'placar_oficial_mandante': None,
   'placar_oficial_visitante': None,
   'transmissao': {'label': '', 'url': ''},
   'url_confronto': '',
   'url_transmissao': '',
   'valida': True},
  {'aproveitamento_mandante': ['d', 'd', 'v', 'd', 'd'],
   'aproveitamento_visitante': ['v', 'e', 'v', 'd', 'v'],
   'clube_casa_id': 293,
   'clube_casa_posicao': 12,
   'clube_visitante_id': 285,
   'clube_visitante_posicao': 4,
   'local': 'Arena da Baixada',
   'partida_data': '2019-07-14 16:00:00',
   'partida_id': 232703,
   'placar_oficial_mandante': None,
   'placar_oficial_visitante': None,
   'transmissao': {'label': '', 'url': ''},
   'url_confronto': '',
   'url_transmissao': '',
   'valida': True}],
 'rodada': 10}

Repare que **partidas_dict** é um dicionário com duas chaves - **Partidas** e **Clubes** (apenas os clubes da Série A 2019) - cujos valores também são dicionários. Nós já temos uma tabela com todos os clubes, mas para praticar, vamos separar clubes e partidas em dois DataFrames diferentes.

In [0]:
clubes_serie_a_dict = partidas_dict['clubes']
clubes_serie_a_df = pd.DataFrame(clubes_serie_a_dict).transpose()
clubes_serie_a_df.head()

    abreviacao  ... posicao
262        FLA  ...       5
263        BOT  ...       4
264        COR  ...       9
265        BAH  ...       6
266        FLU  ...      16

[5 rows x 6 columns]

In [0]:
partidas_dict = partidas_dict['partidas']
partidas_df = pd.DataFrame(partidas_dict)
partidas_df.head()

  aproveitamento_mandante aproveitamento_visitante  ...  url_transmissao  valida
0         [d, v, d, v, v]          [e, e, d, v, v]  ...                     True
1         [d, d, e, e, d]          [d, d, v, v, d]  ...                     True
2         [v, e, d, d, v]          [e, d, d, e, d]  ...                     True
3         [e, v, v, e, d]          [d, v, d, d, d]  ...                     True
4         [e, d, e, e, e]          [v, v, v, v, v]  ...                     True

[5 rows x 15 columns]

In [0]:
clubes_serie_a_df.to_csv('clubes_serie_a.csv')
partidas_df.to_csv('partidas.csv')

##1.3 Importando Mercado

Por fim, vamos importar os dados do mercado, i.e., dados referentes aos atletas - média, preço, última pontuação, scouts, etc. Assim como no exemplo anterior, a API Mercado também contem mais de uma tabela: **Atletas, Clubes, Posicoes e Status**. Vamos salvar todas, com exceção de Clubes.

In [0]:
r = requests.get('https://api.cartolafc.globo.com/atletas/mercado')
mercado = r.json()
atletas_dict = mercado['atletas']
posicoes_dict = mercado['posicoes']
status_dict = mercado['status']

In [0]:
atletas_df = pd.DataFrame(atletas_dict)
atletas_df.head()

     apelido  atleta_id  clube_id  ...       slug  status_id  variacao_num
0    Gabriel      83257       262  ...    gabriel          7          2.46
1       Renê      78445       262  ...       rene          7         -0.30
2     Cássio      42234       264  ...     cassio          6          0.00
3      Ganso      62977       266  ...      ganso          7          0.48
4  Kannemann      87342       284  ...  kannemann          5          0.00

[5 rows x 15 columns]

In [0]:
posicoes_df = pd.DataFrame(posicoes_dict).transpose()
posicoes_df.head()

  abreviacao id      nome
1        gol  1   Goleiro
2        lat  2   Lateral
3        zag  3  Zagueiro
4        mei  4      Meia
5        ata  5  Atacante

In [0]:
status_df = pd.DataFrame(status_dict).transpose()
status_df.head()

  id        nome
2  2      Dúvida
3  3    Suspenso
5  5  Contundido
6  6        Nulo
7  7    Provável

In [0]:
atletas_df.to_csv('atletas.csv')
posicoes_df.to_csv('posicoes.csv')
status_df.to_csv('status.csv')

# <font color='red' style='font-size: 30px;'>2. Tratando os dados </font>
<hr style='border: 2px solid red;'>

##2.1 Expandindo os scouts

Podemos notar que o campo **Scout**, na tabela **Atletas**, contém dicionários com os scouts que o atleta acumula ao longo do campeonato. Desejamos criar uma nova coluna para cada tipo de scout possível.

In [0]:
scouts = {'G': [], 'A': [], 'FT': [], 'FD': [], 'FF': [], 'FS': [], 'PP': [], 'I': [], 'PE': [],
          'SG': [], 'DP': [], 'DD': [], 'RB': [], 'GC': [], 'CV': [], 'CA': [], 'GS': [], 'FC': []}

for row in atletas_df.iterrows(): #cada row é uma tupla (índice, série)  
    scouts_jogador = row[1]['scout']   #buscamos o elemento 1 da row (série) e, dentro da série o valor cujo índice é 'scout'
    for tipo_scout in scouts:
      if tipo_scout in scouts_jogador:
        scouts[tipo_scout].append(scouts_jogador[tipo_scout])
      else:
        scouts[tipo_scout].append(0)

In [0]:
scouts_df = pd.DataFrame(scouts)
scouts_df.head()

   G  A  FT  FD  FF  FS  PP  I  PE  SG  DP  DD  RB  GC  CV  CA  GS  FC
0  5  0   0   8  10   9   0  6  16   0   0   0   4   0   0   2   0   4
1  0  1   0   1   1   4   0  0  19   2   0   0  11   0   0   1   0   2
2  0  0   0   0   0   2   0  0   3   4   0   8   0   0   0   2   4   0
3  1  0   0   3   5   7   0  0  14   0   0   0   4   0   0   2   0   6
4  1  0   0   0   0   4   0  0   3   1   0   0   5   0   0   3   0   9

In [0]:
atletas_df = pd.concat([atletas_df, scouts_df], axis=1)
atletas_df.head()

     apelido  atleta_id  clube_id  ... CA  GS  FC
0    Gabriel      83257       262  ...  2   0   4
1       Renê      78445       262  ...  1   0   2
2     Cássio      42234       264  ...  2   4   0
3      Ganso      62977       266  ...  2   0   6
4  Kannemann      87342       284  ...  3   0   9

[5 rows x 33 columns]

##2.2 Incluindo informações e separando os scouts da última rodada

O DataFrame que temos até agora apresenta apenas os scouts que cada atleta acumulou ao longo de todo o campeonato. Mas não seria interessante termos os registros partida por partida? Isso é possível, desde que tenhamos um registro de como estava o mercado no rodada anterior. Felizmente, eu venho salvando estas "fotografias" rodada após rodada.

Adicionalmente, vamos incluir alguns campos que o Cartola não entrega de "mão beijada":

- **'jogou'**: **True** para quem atuou na rodada e **False** para quem não atuou;
- **'minutos'**: por padrão, os atletas que atuaram receberão valor **90** e **0** para os que não atuaram (depois eu altero estes valores manualmente);
- **'casa'**: **True** para os clubes que atuaram em casa e **False** para os que atuaram fora; e
- **'adversario_id'**: identificação do adversário.

Primeiramente precisamos descobrir qual foi a última rodada. Para isso, vamos utilizar as bibliotecas **datetime** e **dateutil**.

In [0]:
from datetime import datetime
from dateutil import tz

# Obter a data e hora atuais de Brasília (= São Paulo)
utc = tz.gettz('UTC')
local = tz.gettz('America/Sao_Paulo')
hoje_utc = hoje = datetime.today()
hoje_utc = hoje_utc.replace(tzinfo=utc)
hoje = hoje_utc.astimezone(local) # hoje é um objeto tipo datetime contendo valores de ano, mês, dia, hora, min, seg, mseg e fuso horário

# Importar a API Rodadas do Cartola
r = requests.get('https://api.cartolafc.globo.com/rodadas')
rodadas = r.json()

# Descobrir a última e a próxima rodada
for rodada in rodadas:
  data_inicio = datetime.strptime(rodada['inicio'],'%Y-%m-%d %H:%M:%S')
  data_inicio = data_inicio.replace(tzinfo=local)
  data_fim = datetime.strptime(rodada['fim'],'%Y-%m-%d %H:%M:%S')
  data_fim = data_fim.replace(tzinfo=local)
  
  if hoje > data_fim:
    rodada_passada = rodada['rodada_id']
    proxima_rodada = rodada['rodada_id'] + 1
    
print(f'Rodada passada: {ultima_rodada} | Próxima rodada: {proxima_rodada}')

Rodada passada: 9 | Próxima rodada: 10

Próximo passo: importar a "fotografia" que tínhamos na rodada retrasada (rodada_passada -1). Para isso, precisamos fazer o upload do arquivo.

Para convencionar, eu criei a seguinte nomenclatura:
- **scouts_acumulados**: tabela que obtivemos ao final da seção 2.1 - cada atleta possui um registro com a soma de seus scouts ao longo de todo o campeonato.

- **scouts_isolados**: tabela com os scouts de uma única rodada.

- **scouts_compilados**: é a concatenação de todas as tabelas scouts_isolados existentes até o momento.

In [0]:
rodada_retrasada = rodada_passada - 1
scouts_acumulados_rodada_retrasada = pd.read_csv(f'scouts_acumulados_rodada{rodada_retrasada}.csv')
del scouts_acumulados_rodada_retrasada['Unnamed: 0'] # O índice é salvo no arquivo .csv como uma coluna
scouts_acumulados_rodada_retrasada.head()

          apelido  atleta_id  clube_id  ... CA  GS  FC
0  Bruno Henrique      90285       262  ...  2   0  12
1          Fagner      42500       264  ...  1   0   1
2           Fábio      37656       283  ...  0  10   0
3  Leonardo Silva      68925       282  ...  1   0   0
4            Dedé      60819       283  ...  1   0   7

[5 rows x 33 columns]

Agora, vamos criar uma tabela scouts_isolados com os campos novos.

In [0]:
scouts_isolados_rodada_passada = atletas_df
scouts_isolados_rodada_passada['jogou'] = False
scouts_isolados_rodada_passada['minutos'] = 0
scouts_isolados_rodada_passada['casa'] = None
scouts_isolados_rodada_passada['adversario_id'] = None

O desafio agora é preencher estes novos campos, ou seja:

- Identificar os jogadores que atuaram (como titulares ou entrando no decorrer da partida);
- Descobrir se o jogador jogou em Casa ou Fora; e
- Descobrir contra qual equipe o jogador jogou.

Antes de mais nada, vamos precisar criar duas tabelas de relacionamentos: uma tendo no índice os clubes que atuaram em casa e outra tendo no índice os clubes que atuaram fora de casa.

In [0]:
r = requests.get(f'https://api.cartolafc.globo.com/partidas/{rodada_passada}')
partidas_rodada_passada_dict = r.json()
partidas_rodada_passada_dict = partidas_rodada_passada_dict['partidas']
partidas_rodada_passada = pd.DataFrame(partidas_rodada_passada_dict)

relacionamento_casa = partidas_rodada_passada[['clube_casa_id', 'clube_visitante_id']]
relacionamento_casa.columns = ['clube_id', 'adversario_id']
relacionamento_casa.set_index('clube_id', inplace=True)
relacionamento_casa

          adversario_id
clube_id
285                 265
282                 276
356                 283
275                 314
277                 264
267                 354
263                 284
315                 266
290                 293
341                 262

In [0]:
relacionamento_fora = partidas_rodada_passada[['clube_visitante_id', 'clube_casa_id']]
relacionamento_fora.columns = ['clube_id', 'adversario_id']
relacionamento_fora.set_index('clube_id', inplace=True)
relacionamento_fora

          adversario_id
clube_id
265                 285
276                 282
283                 356
314                 275
264                 277
354                 267
284                 263
266                 315
293                 290
262                 341

In [0]:
tipos_de_scouts = ['G', 'A', 'FT', 'FD', 'FF', 'FS',
                   'PP', 'I', 'PE', 'SG', 'DP', 'DD', 
                   'RB', 'GC', 'CV', 'CA', 'GS', 'FC']


for atleta in scouts_isolados_rodada_passada.iterrows():

  # 1º) Identificar atletas que atuaram
  atleta_id = atleta[1]['atleta_id']
  
  # Precisamos considerar duas hipóteses: 
  
  # H1 - Atletas que estavam no mercado na rodada retrasada
  if atleta_id in scouts_acumulados_rodada_retrasada['atleta_id'].unique():
    indice_rodada_retrasada = scouts_acumulados_rodada_retrasada.query(f'atleta_id == {atleta_id}').index[0]

    # Para saber se um atleta jogou ou não vamos comparar o número de partidas da rodada retrasada com a rodada anterior
    jogou_flag = atletas_df.loc[atleta[0], 'jogos_num'] - scouts_acumulados_rodada_retrasada.loc[indice_rodada_retrasada, 'jogos_num']

    if jogou_flag == 1:
      scouts_isolados_rodada_passada.loc[atleta[0], 'jogou'] = True
      scouts_isolados_rodada_passada.loc[atleta[0], 'minutos'] = 90

    # Para obter os scouts da rodada anterior basta subtrair os acumulados da rodada anterior pelo acumulados da rodada retrasada:    
    for tipo in tipos_de_scouts:
      acumulado_passada = atletas_df.loc[atleta[0], tipo]
      acumulado_retrasada = scouts_acumulados_rodada_retrasada.loc[indice_rodada_retrasada, tipo]

      scouts_isolados_rodada_passada.loc[atleta[0], tipo] = acumulado_passada - acumulado_retrasada
    
  # H2 - Atletas que não estavam no mercado na rodada retrasada
  else:  
    if scouts_isolados_rodada_passada.loc[atleta[0], 'jogos_num'] == 1: # Atletas que jogaram
      scouts_isolados_rodada_passada.loc[atleta[0], 'jogou'] = True
      scouts_isolados_rodada_passada.loc[atleta[0], 'minutos'] = 90
      
  # 2º) Descobrir se jogou em casa e contra qual equipe
  clube_id = atleta[1]['clube_id']
    
  if clube_id in partidas_rodada_passada['clube_casa_id'].unique():
    scouts_isolados_rodada_passada.loc[atleta[0], 'casa'] = True
    scouts_isolados_rodada_passada.loc[atleta[0], 'adversario_id'] = relacionamento_casa.loc[clube_id, 'adversario_id']
  else:
    scouts_isolados_rodada_passada.loc[atleta[0], 'casa'] = False
    scouts_isolados_rodada_passada.loc[atleta[0], 'adversario_id'] = relacionamento_fora.loc[clube_id, 'adversario_id']

scouts_isolados_rodada_passada.head()

     apelido  atleta_id  clube_id  ... minutos   casa  adversario_id
0    Gabriel      83257       262  ...      90  False            341
1       Renê      78445       262  ...      90  False            341
2     Cássio      42234       264  ...       0  False            277
3      Ganso      62977       266  ...      90  False            315
4  Kannemann      87342       284  ...       0  False            263

[5 rows x 37 columns]

In [0]:
scouts_isolados_rodada_passada.to_csv(f'scouts_isolados_rodada{rodada_passada}.csv', encoding='utf-8')

Salvamos o DataFrame e agora vamos concatenar os **scouts_isolados** da rodada passada com os **scouts_compilados** até a rodada retrasada.

Lembrando que é preciso fazer o upload do arquivo.

In [0]:
scouts_compilados = pd.read_csv(f'scouts_compilados_rodada{rodada_retrasada}.csv')
del scouts_compilados['Unnamed: 0']
scouts_compilados = pd.concat([scouts_compilados, scouts_isolados_rodada_passada])
scouts_compilados.index = range(scouts_compilados.shape[0])
scouts_compilados.shape

(6774, 37)

Maravilha! Agora é só salvar o nosso DataFrame em .csv. Vamos salvar novamente o DataFrame **atletas_df** com um novo nome para usarmos posteriormente. É **fundamental** fazer o download destes arquivos, pois eles serão apagados quando fecharmos o notebook.

In [0]:
scouts_compilados.to_csv(f'scouts_compilados_rodada{rodada_anterior}.csv', encoding='utf-8')
atletas_df.to_csv(f'scouts_acumulados_rodada{rodada_anterior}.csv', encoding='utf-8')

**Obs**: Para atualizar os minutos jogados por cada atleta, eu abro o arquivo .csv no Excel, busco as fichas de cada jogo e altero os dados manualmente. Ainda não encontrei uma forma mais eficiente para este processo; se alguém descobrir, me ajuda! ;)